{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Add Category{% endblock %}

{% block cssandscripts %}   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

        .card-body a{
            text-decoration: none;
        }

        #content{
            background-color: #f4f5f9;
        }

        .form-control{
            height: 50px;
        }

        .form-wrapper{
            float: left;
            width: 60%;
            margin-left: 5%;
            margin-top: 2%;
        
        }

        .form-wrapper-2{
            float: left;
            width: 15%;
            margin-left: 5%;
            margin-top: 2%;
        
        }        

        .main-wrapper{   
            min-width: 80%;       
            margin: 0;
            padding: 0;
            position: absolute;             
        }        

        .btn-black{
            background-color: #456AD8;
            color: white;
        }

        .btn-black:hover{
            color:#e1e1e1;
        }

        .link{
            margin-left: 10px;
        }

        @media only screen and (max-width: 768px){
            .form-control{
                height: 35px;
            }

        }

    </style>
{% endblock %}


{% block current_page %}Add Category{% endblock %}

{% block page_content %}

    <div class="main-wrapper">
        <div class="form-wrapper">

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0">Add Category</h6>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                       
                        <div class="form-group">
                            <label for="firstname">Name</label>
                            {% render_field form.name class="form-control" %}
                        </div>

                        
                        <button type="submit" class="btn btn-black">Add Category</button>
                        <a href="{% url 'add_food' %}" class="link"> Back </a>
                    </form>
                </div>
            </div>
           
        </div>
    
        <div class="form-wrapper-2">
    
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0">Category's</h6>
                </div>
                <div class="card-body">
                    {% for category in categories %}
                        <h6>{{ category.name }}</h6>
                    {% endfor %}
                </div>
            </div>
    
        </div>
    </div>

    



{% endblock %}