{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Add Food{% endblock %}

{% block cssandscripts %}   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

        .card-body a{
            text-decoration: none;
        }

        #content{
            background-color: #f4f5f9;
        }

        .form-control{
            height: 50px;
        }

        .form-wrapper{
            float: left;
            width: 60%;
            margin-left: 5%;
            margin-top: 2%;
        
        }

        .form-wrapper-2{
            float: left;
            width: 15%;
            margin-left: 5%;
            margin-top: 2%;
        
        }        
      

        .btn-black{
            background-color: #456AD8;
            color: white;
        }

        .btn-black:hover{
            color:#e1e1e1;
        }

        .link{
            margin-left: 10px;
        }

        @media only screen and (max-width: 768px){
            .form-control{
                height: 35px;
            }

        }

    </style>
{% endblock %}


{% block current_page %}Add Food{% endblock %}

{% block page_content %}

    <div class="container-fluid">
        <div class="form-wrapper">

            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0">Add Food</h6>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                       
                        <div class="form-group">                            
                            <label for="firstname">Name</label>
                            {% render_field form.name class="form-control" %}
                            {{ form.name.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.category.errors }}
                            <label for="lastname">Category</label>
                            {% render_field form.category class="form-control" %}
                        </div>

                        <div class="form-group">
                            {{ form.price.errors }}
                            <label for="position">Price</label>
                            {% render_field form.price class="form-control" %}
                        </div>

                        
                        <button type="submit" class="btn btn-black">Add Food</button>
                        
                    </form>
                </div>
            </div>
           
        </div>
    
        <div class="form-wrapper-2">
    
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0">Options</h6>
                </div>
                <div class="card-body">
                
                    <h6 style="margin-left: 8px;"><a href="{% url 'add_category' %}">Add Category</a></h6>
                    <h6 style="margin: 0;padding: 0;"><a href="{% url 'food' %}" class="link">Foods</a></h6>
                    
                </div>
            </div>
    
        </div>
    </div>

    



{% endblock %}