{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Supplier{% endblock %}

{% block cssandscripts %}   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #content{
            background-color: #f4f5f9;
        }

        .form-control{
            height: 50px;
        }

        .form-wrapper{
            width: 80%;
            margin-left: 5%;
            margin-top: 5%;
        }

        .btn-black{
            background-color: #456AD8;
            color: white;
        }
    </style>
{% endblock %}

{% block current_page %}Edit Supplier{% endblock %}

{% block page_content %}

    <div class="form-wrapper">

        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0">Edit Supplier Detail</h6>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstname">First Name</label>
                        <input class="form-control" type="text" name="first_name" placeholder="{{ edit_user.first_name }}" maxlength="20">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastname">Last Name</label>
                        <input class="form-control" type="text" name="last_name" placeholder="{{ edit_user.last_name }}" maxlength="20">
                    </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="position">Address</label>
                        <input class="form-control" type="text" name="position" placeholder="{{ edit_user.address }}" maxlength="30">
                    </div>
        
                    <div class="form-group">
                        <label for="salary">Contact Number</label>
                        <input class="form-control" type="number" name="salary" placeholder="{{ edit_user.contact_number }}" maxlength="20">
                    </div>
                    
                    <button type="submit" class="btn btn-black">Update Employee</button>
                </form>
            </div>
        </div>
       
    </div>



{% endblock %}