{% extends 'base.html' %}

{% block title %}Order Update{% endblock %}

{% block cssandscripts %} 
    <style>

        .container-fluid{
            width: 100%;                
        }

        .row{
            width: 70%;
            margin-left: 15%;
            margin-top: 5%;
        }

        .card{
            width: 100%;
        }

        .thead-primary{
            background-color: #1089ff;
            color: white;
            border: transparent;
        }

        t1{
            position: absolute;
            right: 5px;
            margin-right: 2%;
            display: block;
        }

        .right{
            position: absolute;
            right: 20px;
        }

        #btn{
            height: 17px;
            width: 17px;
            font-size: 0.9rem;
            text-align: center;
        }
        .rm-bg{
            background-color: transparent;
            border: transparent;
        }

        .form-charges{
            width: 100%;
            height: 150px;
        }

        .btn-delete{
            background-color: transparent;
        }

        .btn-delete:hover{
            background-color: none;
        }

        #delete_btn{
            height: 1.8rem;
            width: 1.8rem;
            font-size: 0.8rem;
        }

    </style>
{% endblock %}

{% block current_page %}Update Order{% endblock %}

{% block page_content %}

<div class="container-fluid">
    <div class="row box-row">

        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Order #1 Detail</h6>
                <div class="dropdown no-arrow">
                    <a href="#" class="btn btn-danger btn-circle" id="delete_btn"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-primary">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Food</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for food in foods %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ food.food.name }}</td>
                            <td>{{ food.quantity }}</td>
                            <td>{{ food.price }}</td>
                        </tr>
                    {% endfor %}  
                    </tbody>
                  </table>
                  
                  <form method="POST" class="form-charges">
                    {% csrf_token %}
                    <div class="second-box" id="second-box">
                        <t1>Price: Rs. <span class="order-detail">{{ order.sub_total }}</span></t1><br>
                        <t1>
                            VAT: <span class="order-detail">{{order.vat}}%</span>
                        </t1><br>
                        <t1>
                            Discount: <span class="order-detail discount">{% if order.discount %}{{ order.discount }}%{% else %}0% {% endif %} </span><button type="button" class="rm-bg" data-toggle="modal" data-target="#exampleModalLong"><i class="material-icons btn-circle btn-success" id="btn">add</i></button>
                        </t1><br>
                        <t1>Total Price: Rs. <span class="order-detail form-price">{{ order.grand_total }}</span></t1><br>
                        {% if order.payment %}                        
                        <t1>Payment: <input name="payment" type="checkbox" checked></t1> <br>  
                        {% else %}
                        <t1>Payment: <input name="payment" type="checkbox"></t1> <br>  
                        {% endif %}
                        <input type="text" name="order_id" value="{{ order.id }}" style="display:none;">  
                        <input type="text" name="discount" class="form-discount" value="0" style="display:none;">  
                        <input type="text" name="order" value="ordered" style="display:none;">                  
                        <t1 style="margin-bottom: 20px;"><input type="submit" class="btn btn-primary" value="Update Order"></t1>
                    </div>
                  </form>  
                 
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Discount</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control discount-input" placeholder="Enter discount %">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Save changes</button>
                </div>
            </div>
            </div>
        </div>
    
    </div>
</div>

{% endblock %}

{% block script %}

    <script>

        function updatePrice(price, discount){
            console.log("update function called")
            document.querySelector('.discount').innerHTML= `${discount} %`
            document.querySelector('.form-price').innerHTML=price
            document.querySelector('.form-discount').value=discount            
        }

        // for bootstrap modal
        save_btn = document.querySelector('.save');
        save_btn.addEventListener('click', (e)=>{
            e.preventDefault();
            $('#exampleModalLong').modal('hide');
            discount = document.querySelector('.discount-input').value;        
            document.querySelector('.discount-input').value = '';
            // console.log({{ order.id }});
            // updatePrice(200,discount)
            $.ajax({
                url: '{% url "u_ajax_update_price" %}',
                data: {
                    'order_id': {{ order.id }},
                    'discount': discount,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.price) {
                        total_price = data.price.total
                        updatePrice(total_price,discount)
                    }
                }
            });
            
        })

</script>

    </script>

{% endblock %}