{% extends 'base.html' %}
{% load static %}

{% block title %}Employee{% endblock %}

{% block cssandscripts %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <style>
        :root{
            --delete_btn:#d74242;
            --edit_btn:#2fa751;
        }

        .hidden{
            display: none;
        }

        .from{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .flex-item{
            display: flex;   
            flex-direction: column;  
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50%; 
        }

        .center{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .btn{
            text-decoration: none;
            color: white;
            background-color: black;
            width: 50px;
            height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            border-radius: 10%;
        }

        .box{
            display: flex;
            padding: 10px 20px 30px;
            flex-direction: column;
            align-items: center;
            gap: 10px; 
            background-color: white;
        }

        .opaque{
            position: absolute;
            top:0;
            left:0;
            bottom:0;
            right: 0;
            background-color: rgb(0, 0, 0, 0.55);
            z-index: 5;
        }

        .cancelbtn{
            position: absolute;
            top: 0px;
            right: 0;
        }
    </style>

{% endblock %}

{% block current_page %} Employee {% endblock %}

{% block page_content %}
                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top: 35px; margin-left: 80px; width: 90%;">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: 1.2rem;">Employees</h6>
                                </div>
                                <div class="col-sm-12 col-md-6 add-employee">
                                    <h6 class="m-0 font-weight-bold text-primary" style="float: right; margin-right: 10px;">
                                        <a href="#" class="addButton"><i class="material-icons" style="font-size: 2rem;">add_circle_outline</i></a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                            <th class="sorting_asc_disabled sorting_desc_disabled text-right">Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                            <th class="text-right">Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td>                                            
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td>  
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td>66</td>
                                            <td>2009/01/12</td>
                                            <td>$86,000</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td>  
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td>22</td>
                                            <td>2012/03/29</td>
                                            <td>$433,060</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td>                                              
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Accountant</td>
                                            <td>33</td>
                                            <td>2008/11/28</td>
                                            <td>$162,700</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td>   
                                        </tr>
                                        <tr>
                                            <td>Brielle Williamson</td>
                                            <td>Integration Specialist</td>
                                            <td>61</td>
                                            <td>2012/12/02</td>
                                            <td>$372,000</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td>   
                                        </tr>
                                        <tr>
                                            <td>Herrod Chandler</td>
                                            <td>Sales Assistant</td>
                                            <td>59</td>
                                            <td>2012/08/06</td>
                                            <td>$137,500</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td>   
                                        </tr>
                                        <tr>
                                            <td>Rhona Davidson</td>
                                            <td>Integration Specialist</td>
                                            <td>55</td>
                                            <td>2010/10/14</td>
                                            <td>$327,900</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td>   
                                        </tr>
                                        <tr>
                                            <td>Colleen Hurst</td>
                                            <td>Javascript Developer</td>
                                            <td>39</td>
                                            <td>2009/09/15</td>
                                            <td>$205,500</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td>   
                                        </tr>
                                        <tr>
                                            <td>Sonya Frost</td>
                                            <td>Software Engineer</td>
                                            <td>23</td>
                                            <td>2008/12/13</td>
                                            <td>$103,600</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td>Jena Gaines</td>
                                            <td>Office Manager</td>
                                            <td>30</td>
                                            <td>2008/12/19</td>
                                            <td>$90,560</td>
                                            <td class="text-right" style="padding: 10px;">
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--edit_btn);">edit</i></a>
                                                <a href="#"  target="_blank"><i class="material-icons" style="color: var(--delete_btn);">delete</i></a>
                                            </td>  
                                        </tr>
                                       
                                    </tbody>
                                </table>

                               
                            </div>
                        </div>
                    </div>

                </div>

                 <!-- add employee form -->
                 <div class="from opaque hidden" id="addFrom">
                    <div class="flex-item">
    
                            <form id="updateUser" class="box">
                                <span>Update User</span>                                
    
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" placeholder="Name">
                                    <br>
                                </div>
                    
                                <div class="form-group">
                                    <label for="position">Position</label>
                                    <input type="text" name="position" placeholder="Position">
                                    <br>
                                </div> 
                                
                                <div class="form-group">
                                    <label for="age">Age</label>
                                    <input type="text" name="age" placeholder="Age">
                                    <br>
                                </div> 

                                <div class="form-group">
                                    <label for="salary">Salary</label>
                                    <input type="number" name="salary" placeholder="Salary">
                                    <br>
                                </div> 
                    
                                <button type="submit" class="btn center">Submit</button>
                                <button type="button" class="btn cancelbtn" id="canclebtn">X</button>
                            </form>
    
                    </div>
                </div>
                <!-- /.container-fluid -->        

    {% endblock %}

   
    {% block script %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        const addBtnClicked = document.querySelector('.addButton');
        const canclebtn = document.querySelector('#canclebtn');

        addBtnClicked.addEventListener('click', (event)=> {
            event.preventDefault();
            addFrom.classList.toggle('hidden')
        })

        canclebtn.addEventListener('click', (event)=> {
            event.preventDefault();
            addFrom.classList.toggle('hidden')
        })

    </script>
    {% endblock %}

</body>

</html>