{% extends 'base.html' %}
{% load static %}

{% block title %}QR Hoistory{% endblock %}

{% block cssandscripts %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <style>
        :root{
            --delete_btn:#d74242;
            --edit_btn:#2fa751;
        }

        .rm-background{
            background-color: transparent; 
            border:none;
        }


    </style>

{% endblock %}

<!-- {% block employee_show %}show{% endblock %} -->

{% block current_page %} QR History {% endblock %}

{% block page_content %}
                <!-- Begin Page Content -->
                <div class="container-fluid" style="margin-top: 35px; margin-left: 80px; width: 90%;">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: 1.2rem;">QR History</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Ingredient Name</th>
                                            <th>Quantity</th>
                                            <th>Date and Time</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Ingredient Name</th>
                                            <th>Quantity</th>
                                            <th>Date and Time</th>                 
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for qrhistory in qrhistories %}
                                            <tr>
                                                <td>{{ qrhistory.ing_name }}</td>
                                                <td>{{ qrhistory.quantity }}</td>
                                                <td>{{ qrhistory.scanned_date }}</td>                                                                                          
                                            </tr>
                                        {% endfor %}
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->        

    {% endblock %}

   
    {% block script %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

    {% endblock %}

</body>

</html>